<html>
    <head>
        <h1>Calculator</h1>
    </head>
    <form>
        <div>
            <div>
                <input type ="text" name = "display">
            </div>
            <div>
            <input type = "button" value="9">
            <input type = "button" value="7">
            <input type = "button" value="8">
            </div>
            <div>
                <input type = "button" value="6">
                <input type = "button" value="5">
                <input type = "button" value="4">
            </div>
            <div>
            <input type = "button" value="3">
            <input type = "button" value="2">
            <input type = "button" value="1">
            </div>
            <div>
                <input type = "button" value="AC">
                <input type = "button" value="0">
                <input type = "button" value="DE">
            </div>
            <div>
                <input type = "button" value=".">
                <input type = "button" value="/">
            </div>
            <a href="/add"><button>Add</button></a>
            <a href="/substract"><button>Substract</button></a>
            <a href="/multiply"><button>Multiply</button></a>
            <a href="/divide"><button>Divide</button></a>
            <a href="/clear"><button>Clear</button></a>
        </div>
    </form>
</html>
