<html>
    <head>
        <h1>Calculator</h1>
    </head>
    <form action="" method="POST">
        <div>
            <label for="First Number">1st Number</label>
            <input type ="text" placeholder="First Number" name="n1"/>
        </div>
        <div>
            <label for="Second Number">2nd Number</label>
            <input type ="text" placeholder="Second Number" name="n2"/>
        </div>
          <input type="add" value="add" id="calc_btn" class="btn" />
        </div>
        <div>
            <input type="sub" value="substract" id="calc_btn" class="btn" />
        </div>
        <div>
            <input type="multiply" value="multiplying" id="calc_btn" class="btn" />
        </div>
        <div>
            <input type="divide" value="dividing" id="calc_btn" class="btn" />
        </div>
    </form>
</html>
